.content {
    display: flex;
    flex-wrap: wrap;
}

.cover,
.featured-work {
    order: 10;
}

@media screen and (max-width: 549px) {
    .header {
        width: 100%;
    }
    .header__logo {
        height: 48px;
        margin-right: 0.5em;
    }
    .header__inner {
        flex-direction: column;
    }
    .header__title {
        width: auto;
    }
    .header__title h1 {
        font-weight: 100;
        font-size: 24px;
        text-align: center;
    }
    .header__title h3 {
        font-weight: 300;
        font-size: 15px;
        text-align: center;
    }
    .featured-work-title {
        margin: 1.1em;
    }
    .featured-work-card {
        width: 90%;
        margin-right: 5%;
        text-align: center;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .featured-work-card p {
        font-size: 16px;
        line-height: 1.8em;
    }
    .featured-work-card h2 {
        font-size: 19px;
    }
}

@media screen and (min-width: 550px) {
    .header {
        width: 700px;
    }
    .header__inner {
        flex-direction: row;
    }
    .header__title h1 {
        font-size: 3em;
    }
    .header__title h3 {
        font-size: 1.5em;
    }
    .cover {
        width: 90%;
        margin: 0 auto;
    }
    .featured-work {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .featured-work-title {
        margin: 0.1em;
    }
    .featured-work-card {
        width: 40%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 850px) {
    main,
    .header,
    .content {
        width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
    .cover {
        width: 100%;
        position: relative;
        height: 300px;
    }
    .featured-work {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2em;
    }
    .featured-work-card {
        width: 30%;
        margin-right: 5%;
    }
}